name: Build Santorini POS EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-2022   # أقرب توافق مع Win7

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: "3.8"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pip install -r requirements.txt

    - name: Build EXE
      run: |
        pyinstaller --onefile --noconsole `
        --add-data "assets;assets" `
        --add-data "data;data" `
        app.py

    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: SantoriniPOS-Windows
        path: dist/app.exe
